{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

    <script src="{% static "/ajax_select/js/jquery-1.9.1.js" %}"></script>
    <script src="{% static "/ajax_select/js/jquery-ui.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "/ajax_select/css/jquery-ui.css" %}">
{#    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>#}
{#    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>#}
{#    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">#}

    <script type="text/javascript" src="/static/ajax_select/js/ajax_select.js"></script>
    {{ media }}
{% endblock %}